<html>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <form method="post" action="/coordinate">
            <label for="json">JSON:</label>
            <input type="text" name="json">
            <input type="submit" name=""/>
        </form>
    </body>
</html>
  